<%layout("./views/layouts/boilerplate")%>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>Edit your listing</h3>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <lable for="title" class="form-lable">Title</lable>
                    <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required/>
                    <div class="valid-feedback">Title looks good</div>
                </div>
                <div class="mb-3">
                    <lable for="description" class="form-lable">Description</lable>
                    <textarea name="listing[description]"  type="text" class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>

                </div>
                <div class="mb-3">
                    <lable for="image" class="form-lable">Image url</lable>
                    <input name="listing[imaeg]" value="<%=listing.image.url%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid link</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <lable for="price" class="form-lable">Price</lable>
                        <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" required>
                        <div class="invalid-feedback">Please enter valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <lable for="country" class="form-lable">country</lable>
                        <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required> 
                        <div class="invalid-feedback">Please enter valid country</div>
                    </div>

                </div>
                
                <div class="mb-3">
                    <lable for="location" class="form-lable">Location</lable>
                    <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid location</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>

        </div>
    </div>
    
</body>

